<!-- ko with: home -->
<br />
<div class="jumbotron">
     <h1>Miciurin.md</h1>
     <p class="lead">Привет посетитель сайта для жителей Мичурина!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Перейти &raquo;</a></p>
</div>
<div class="row">
     <div class="col-md-4">
          <h2 style="color:white;">Новости</h2>
          <p>
               <h4 style="color:white;">- 170 новых случаев COVID в Молдове!</h4>
          </p>
          <p>
               <h4 style="color:white;">- Додон: Кабмин выступит с предложениями в поддержку экономических агентов!</h4>
          </p>
          <p>
               <h4 style="color:white;">- Реестр конфискованного имущества станет функциональным к концу года!</h4>
          </p>
          <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=273732">Перейти &raquo;</a></p>
     </div>

     <div class="col-md-4">
          <h2 style="color:white;">Обсуждения</h2>
          <p>
               <h4 style="color:white;">- Закрытие школы!?</h4>
          </p>
          <p>
               <h4 style="color:white;">- Пастбище!?</h4>
          </p>
          <p>
               <h4 style="color:white;">-Мусорка!?</h4>
          </p>
          <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Перейти &raquo;</a></p>
     </div>

     <div class="col-md-4">
          <h2 style="color:white;">История</h2>
          <p style="color:white;">Мичурин (молд. Miciurin) — село в Дрокиевском районе Молдавии. Относится к сёлам, не образующим коммуну.</p>
          <p data-bind="text: myHometown" style="color:white;"></p>

          <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=273732">Перейти &raquo;</a></p>
     </div>
</div>
<!-- /ko -->